{{> navBar}}

<div class="form-container">
    <form id="addArtifact" action="/artifact" method="post">
        <fieldset>
            <legend>
                <h2>Add Artifact</h2>
            </legend>
            <div class="form_field">
                <label>Currently on Display:</label>
                <input type="radio" name="display" value="1" checked>Yes
                <input type="radio" name="display" value="0">No
            </div>
            <div class="form_field">
                <label>Aquisition Year:</label>
                <input type="number" name="acquisition_year" min="1800" max="2019" step="1" value="2019">
            </div>
            <div class="form_field">
                <label>Material:
                    <input type="text" name="material">
                </label>
            </div>
            <div class="form_field">
                <label>Damaged:</label>
                <input type="radio" name="damage" value="1" checked>Yes
                <input type="radio" name="damage" value="0">No

            </div>
            <div class="form_field">
                <input class="btn btn-info text-white" type="submit" name="submit_artifact" value="Add">
            </div>
        </fieldset>
    </form>
    <hr>

    <h3>Artifacts:</h3>
    <table class="table .table-bordered">
        <thead class="thead-dark">
            <th>ID</th>
            <th>On Display</th>
            <th>Year Acquisitioned</th>
            <th>Material</th>
            <th>Damage</th>
            <th></th>
            <th></th>
        </thead>
        {{#each artifact}}
        <tr>
            <td>{{id}}</td>
            <td>{{display}}</td>
            <td>{{acquisition_year}}</td>
            <td>{{material}}</td>
            <td>{{damage}}</td>
            <td><button class="btn btn-danger btn-sm" onclick="deleteArtifact({{id}})">Delete</button></td>
            <td><a href="/artifact/{{id}}"><input class="btn btn-warning btn-sm" type="button" value="Update"></a></td>
        </tr>
        {{/each}}
    
    </table>
</div>